@use "../../../assets/scss" as *;

.buyBtn {
  padding: 6px 10px;
  background-color: $main-color;
  border: none;
  @include setFonts($mulish, $mulish-700, white);
  font-size: 12px;
  line-height: 15px;
  border-radius: 2px;
  transition: transform 0.3s ease;
  &:hover {
    background-color: white;
    color: $main-color;
    transform: scale(1.3);
  }
}
