@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Mulish:wght@400;600;700&family=Rubik:wght@400;500&display=swap');


@mixin setFonts($fontFamily, $fontWeight, $color) {
    font-family: $fontFamily;
    font-weight: $fontWeight;
    color: $color;
  }