$main-color: #7ac751;
$txt-color: #555555;
$reply-txt-color:#515151;

//fonts
$dm-sans: "DM Sans", sans-serif;
$dm-sans-400: 400;
$dm-sans-500: 500;

$mulish: "Mulish", sans-serif;
$mulish-400: 400;
$mulish-600: 600;
$mulish-700: 700;

$rubik: "Rubik", sans-serif;
$rubik-400: 400;
$rubik-500: 500;
