@use "../../assets/scss" as *;

.specialOffer {
  h1 {
    text-align: center;
    @include setFonts($mulish, $mulish-700, $txt-color);
    margin-bottom: 60px;
    font-size: 36px;
    line-height: 45px;
  }
  .offerWrapper {
    @include flex(center, space-between);
  }
}
