@use "../../assets/scss" as *;

.specialOffer {
  margin-bottom: 120px;

  h1 {
    text-align: center;
    @include setFonts($mulish, $mulish-700, $txt-color);
    margin-bottom: 60px;
  }
  .offerWrapper {
    @include flex(center, space-between);
    @include tablet {
      flex-direction: column;
      gap: 25px;
    }
  }
}
