@use "../../assets/scss" as *;

.profile {
  padding: 50px 0;
  .profileText {
    @include setFonts($rubik, $rubik-400, $txt-color);
    font-size: 28px;
    margin-bottom: 45px;
  }
  .info {
    @include flex(flex-start, flex-start);
    gap: 45px;
    h3 {
      @include setFonts($rubik, $rubik-400, $txt-color);
      font-size: 20px;
      margin-bottom: 30px;
    }
    h3 +p {
      @include setFonts($rubik, $rubik-400, $main-color);
      cursor: pointer;
    }
    span {
      @include setFonts($rubik, $rubik-400, $main-color);
      cursor: pointer;
    }
    .profileInfo {
      .inputs {
        span {
          @include setFonts($rubik, $rubik-400, $txt-color);
        }
        font-size: 16px;
        span {
          margin-right: 150px;
        }
        input {
          border: none;
          padding: 5px;
          margin-bottom: 35px;
        }
        input::placeholder {
          @include setFonts($rubik, $rubik-400, $txt-color);
          font-size: 16px;
        }
      }
    }
  }
}
