@use "../../assets/scss" as *;

.product {
  padding-bottom: 120px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-row-gap: 45px;
    grid-column-gap: 30px;
    margin-bottom: 50px;
  }
  &__header {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
    font-family: $mulish;
  }

  &__filter {
    display: flex;
    gap: 70px;
    width: fit-content;
    margin: 0 auto 73px auto;
    button {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      color: #c2c2c2;
      background: none;
      border: none;
      cursor: pointer;
      &.product__active {
        color: $main-color;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
  }

  &__next {
    @include flex(center, center);
    gap: 10px;

    padding: 12px 29px 14px 20px;

    border-radius: 2px;
    background: $main-color;
    border: none;

    @include setFonts($mulish, $mulish-600, #fff);
    font-size: 18px;
  }

  &__pagination {
    width: 570px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__page {
    margin: 0 19px 0 9px;
    width: 58px;
    text-align: center;
  }

  &__pages {
    display: flex;
  }

  &__btns {
    display: flex;
    margin-left: 23px;
    border-radius: 2px;
    background: $main-color;
    height: 29px;
  }

  &__btn {
    @include flex(center, center);

    width: 29px;
    height: 29px;

    background: inherit;
    border: none;
    border-radius: 2px;

    font-weight: 700;
    font-size: 24px;
    color: #fff;

    cursor: pointer;
  }
}
