@use "../../../assets/scss" as *;

.offerCard {
  width: 570px;
  height: 250px;
  padding: 33px 22px;
  background-image: url("../../../assets/img/offer/Offer1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  .left {
    max-width: 250px;
    .leftTitle {
      @include setFonts($mulish, $mulish-600, $txt-color);
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 11px;
    }
    .leftDesc {
      @include setFonts($mulish, $mulish-400, $txt-color);
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 20px;
    }
    .leftPrice {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      .newPrice {
        @include setFonts($mulish, $mulish-700, $main-color);
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 0.005em;
      }
      .oldPrice {
        @include setFonts($mulish, $mulish-700, #cccccc);
        text-decoration: line-through;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 0.005em;
        margin: 0 20px 0 7px;
      }
    }
    .leftCircles {
      @include flex(center, space-between);
      gap: 18px;
    }
  }
}
.sales {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 64px;
  padding: 5px 8px;
  background-color: #00b7f1;
  border-radius: 0px 0px 0px 5px;
  @include setFonts($mulish, $mulish-600, white);
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.008em;
}
