@use "../../assets/scss" as *;

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 45px;
  grid-column-gap: 30px;
  margin-bottom: 100px;
}
.header {
  text-align: center;
  font-family: $mulish;
  margin-bottom: 45px;
}

.filter {
  display: flex;
  gap: 70px;
  width: fit-content;
  margin: 0 auto 73px auto;
  button {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #c2c2c2;
    background: none;
    border: none;
    cursor: pointer;
    &.active {
      color: $main-color;
    }
  }
}
